<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h3 th:text="'Bonjour ' + ${firstname}">Bonjour prénom</h3>
<p> <span th:text="'Vous avez emprunt&eacute; le livre ' + ${title} + ', le ' + ${startdate} + '.'"></span></p>
<p th:text="'La date de fin du pr&ecirc;t a &eacute;t&eacute; fix&eacute;e pour le ' + ${deadlinedate} "></p>
<p>Merci de rapporter le livre.</p>
<br>
<p>Bonne journ&eacute;e.</p>
<p>La biblioth&egrave;que</p>

</body>
</html>