<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <div class="form-group row" >
        <div class="col-xs-2">
            <label for="TitleContains">titre</label>
            <input type="text" class="col-sm-10" name="TitleContains" id="TitleContains" placeholder="titre"/>
        </div>

        <div class="col-xs-2">
            <label for="fullnameAuthorContains">nom de l'auteur</label>
            <input type="text" class="col-sm-10" name="fullnameAuthorContains" id="fullnameAuthorContains" placeholder="nom"/>
        </div>

        <!--<div class="col-xs-2">-->
            <!--<label for="idBook">nom de l'auteur</label>-->
            <!--<input type="text" class="col-sm-10" name="idBook" id="idBook" placeholder="id"/>-->
        <!--</div>-->

    </div>
    <br>
    <div class="btn-group btn-group-sm" role="group">
        <a class="btn btn-xs btn-primary" href="#" role="button" id="clk_link">Rechercher</a>
    </div>

</div>

